<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://39.105.188.157/anbida/edaijia_driver_android_5.3.2.1_20201109.apk</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://39.105.188.157/anbida/edaijia.57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://39.105.188.157/anbida/edaijia.512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>cn.edaijia.android.driverclient</string>
				<key>bundle-version</key>
				<string>5.3.2.1</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>android</string>
				<key>title</key>
				<string>e代驾司机端</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
